body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* LINK */

a {
  text-decoration: none;
  color: black;
}

/* Signin */

.github{
  display: flex;
  align-items: center;
  align-content: space-between;
  justify-content: space-between;
}

/* Signup */

.signup{
  margin: 20px;
  padding: 20px;
}

#logo{
  height: 65px;
  position: sticky;
  margin-right: 10px;
  margin-left: -26px;
}

.imagebacked {
  margin: 5000px;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  }

/* Profile Page */

.profile{
  text-align: center;
  background-color: 	#F0F0F0;

  border-top: 2px solid #D3D3D3;
  padding-top: 20px;
  font-family: 'Source Code Pro', monospace;
  height: 100vh;
  max-width: 100vw;

}

.follow{
  padding: 20px;
  float: left;
}

.prof-card{
  align-items: center;
  margin: auto;
  margin-bottom: 80px;
  padding: 10px;
  text-align: center;
  opacity: 0.80;
  border: 1px solid black;
}

.detail{
  text-align: center;
  display: flex;
}

.background{
  padding: 200px;
  background-image: url('https://images.unsplash.com/photo-1571100835179-418f932af6dd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80');
  background-size: cover;
  height: 1000px;

}

.name{
  background-color: white;
  height: 200px;
  text-align: center;
  padding-top: 20px;
  font-family: 'Roboto Condensed', sans-serif;
}


/* Log Cards */

.container{
  align-items: center;
  margin: auto;
  margin-bottom: 80px;
  margin-top: 30px;
  padding: 10px;
  filter: drop-shadow(1px 1px 1px #b71c1c);
} 

.mapbox{
  border: 1px solid black;
  filter: drop-shadow(2px 3px 3px #bdb9b7);
}

.signature-img{
  display: block;
  margin: 0 auto;
  width: 150px;
}

.center{
  text-align: center;
}

/* Signature Feature */

.signature {
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 100%;
  min-width: 500px;
}

.hidden {
  opacity: 0;
}

/* Infinite Scrolling */

.scroll{
  text-align: center;
}

/* Add Dive Log */
.spacing{
  margin: 20px;
}

/* Edit Dive Log */
.edit{
  padding: 20px;

}

.button{
  text-align: center;
}

.opacity{
  opacity: .75;
}