body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* LINK */
a {
  text-decoration: none;
  color: black;
}

/* Signin */
.github{
  display: flex;
  align-items: center;
  align-content: space-between;
  justify-content: space-between;
}

/* Signup */
.signup{
  margin: 20px;
  padding: 20px;
}

/* Profile Page */
.profile{
  text-align: center;
  border: 1px solid;
  margin: 100px;
  padding: 20px;
}

/* Log Cards */
.container{
  align-items: center;
  margin: auto;
  margin-bottom: 80px;
  margin-top: 30px;
  padding: 10px;
} 

.mapbox{
  border: 1px solid black;
  filter: drop-shadow(2px 3px 3px #3D52D5);
}

.signature-img{
  display: block;
  margin: 0 auto;
  width: 150px;
}

/* Signature Feature */
.signature {
  border: 1px solid black;
  width: 10%;
  min-width: 500px;
}

.hidden {
  opacity: 0;
}
