body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* LINK */

a {
  text-decoration: none;
  color: black;
}

/* Signin */

.github{
  display: flex;
  align-items: center;
  align-content: space-between;
  justify-content: space-between;
}

/* Signup */

.signup{
  margin: 20px;
  padding: 20px;
}

#logo{
  height: 65px;
  position: sticky;
  margin-right: 10px;
  margin-left: -26px;
}

/* Profile Page */

.profile{
  text-align: center;
  /* border: 1px solid; */
  /* margin: 10px;  */
  /* padding: 10px;  */

  /* position: absolute; */
  /* background-position: 50% 0; */
}

.background{
  background-image: url('https://images.unsplash.com/photo-1505236732171-72a5b19c4981?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
  background-size: cover;
  display: block; 
  height: 300px;
  /* position: sticky; */
}

/* Log Cards */

.container{
  align-items: center;
  margin: auto;
  margin-bottom: 80px;
  margin-top: 30px;
  padding: 10px;
  filter: drop-shadow(1px 1px 1px #b71c1c);
} 

.mapbox{
  border: 1px solid black;
  filter: drop-shadow(2px 3px 3px #bdb9b7);
}

.signature-img{
  display: block;
  margin: 0 auto;
  width: 150px;
}

/* Signature Feature */

.signature {
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 100%;
  min-width: 500px;
}

.hidden {
  opacity: 0;
}

/* Infinite Scrolling */

.scroll{
  text-align: center;
}

/* Add Dive Log */
.spacing{
  margin: 20px;
}

/* Edit Dive Log */
.edit{
  background-color: grey;
  /* justify-content: center; */
  border: 1px solid black;
  /* margin-left: 2000px; */
}